@model YllariFM.Models.DB.File

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdClienteNavigation.CorreoContacto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBibliaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBibliaNavigation.IdBiblia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFile">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
